html,
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    /* Standard-Hintergrund */
    color: #000;
    /* Standard-Textfarbe */
}

.editable-input {
    width: 100%;
    height: auto;
    /* Allow height to adjust based on content */
    /* Optional: set a minimum height */
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
    resize: vertical;
    /* Allow only vertical resizing */
    overflow: hidden;
    overflow-y: auto;
    margin: 2px;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: #0d1117;
        /* Dunkler Hintergrund, ähnlich GitHub */
        color: #c9d1d9;
        /* Dunkler Text */
    }
}