html,
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    /* Standard-Hintergrund */
    color: #000;
    /* Standard-Textfarbe */
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: #0d1117;
        /* Dunkler Hintergrund, ähnlich GitHub */
        color: #c9d1d9;
        /* Dunkler Text */
    }
}