html,
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    /* Standard-Hintergrund */
    color: #000;
    /* Standard-Textfarbe */
}

.editable-input {
    width: 100%;
    height: auto;
    /* Allow height to adjust based on content */
    /* Optional: set a minimum height */
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
    resize: vertical;
    /* Allow only vertical resizing */
    overflow: hidden;
    overflow-y: auto;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: #0d1117;
        color: #c9d1d9;
    }
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown {
    cursor: default;
    border: 1px solid #E1E3E7;
    box-shadow: 0 1px 4px #E1E3E7;
    border-radius: 4px;
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: left;
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 0.5rem;
    cursor: default;
}

.dropdown-item:hover {
    background-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    .dropdown {
        background-color: #333;
        border-color: #555;
        color: #c9d1d9;
    }

    .dropdown-menu {
        background-color: #1e1e1e;
        border-color: #555;
    }

    .dropdown-item {
        color: #c9d1d9;
    }

    .dropdown-item:hover {
        background-color: #444;
    }
}