.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
}

.mainIssue {
    box-shadow: 30px 20px #ebe0ee;
    /* Example with a blur radius of 30px */
}

.issueList {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issueCard {
    margin: 10px;
    padding: 15px;
    width: 100%;
}