/* Custom theme for Tippy.js tooltips */
.tippy-box[data-theme~='tomato-theme'] {
    background-color: #000000c8;
    color: #ffffff;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}